<form [formGroup]="form">
  <ng-container formArrayName="products" *ngFor="let cellphone of formProducts.controls; let i = index">
      <div [formGroupName]="i">
          <button (click)="manipulateForm(2, i)"> Decrement </button>

          <input type="number" formControlName="value" />

          <button (click)="manipulateForm(1,i)"> Increment </button>

          <input type="text" formControlName="type" />



        </div>
  </ng-container>
  <button (click)="addBasicSubControl('products')">
    Add control
  </button>
</form>


<pre>
    {{ form.valid }}

  {{ form.value | json }}
</pre>